{% extends "base" %} {% block content %}
<h1>Add a new Project to the database</h1>
{% include "warning" %} {% if values %}
<h3>Submission Data</h3>
<ul>
    {% for key, value in values %}
    <li>
        <strong>{{ key }}</strong> - {{ value[0] }}
    </li>
    {% endfor %}
</ul>
<hr />
{% endif %}
<form action="/add-project" method="post">
    <input type="text" name="name" id="name" placeholder="Project Name" /><br />
    <input type="submit" value="Add Project" />
</form>
{% endblock %}
