<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>rocket-db-forms</title>
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
        />
    </head>
    <body>
        <h1>Add a new Project to the database</h1>
        {% if values %}
        <h3>Submission Data</h3>
        <ul>
            {% for key, value in values %}
            <li>
                <strong>{{ key }}</strong> - {{ value[0] }}
            </li>
            {% endfor %}
        </ul>
        <hr />
        {% endif %}
        <form action="/add-project" method="post">
            <input type="text" name="name" id="name" placeholder="name" /><br />
            <input type="text" name="start" id="start" placeholder="start" /><br />
            <input type="text" name="end" id="end" placeholder="end" /><br />
            <input type="number" name="id_pers" id="id_pers" placeholder="id_name" /><br />
            <input type="submit" value="Add Project" />
        </form>
    </body>
</html>
