{% extends "base" %} {% block content %}
<h1>Loop</h1>
{% include "warning" %} {% for entry in all_projects %}
<p>
    <strong>Loop ({{ loop.index }})</strong> Id: {{ entry.id_proj }}, Project Name:
    {{ entry.name }}, Start Date: <small>{{ entry.start_date }}</small>
</p>
<br />
{% endfor %}{% endblock %}
