{% extends "base" %} {% block content %}
<h1>Loop</h1>
{% for entry in serialized_data %}
{{ loop.index }} - Id: {{ entry.id_pers }}, Name: {{ entry.name }}, Data: {{ entry.data }}
<br />
{% endfor %}{% endblock %}
