{% if values %}
<h3>Submission Data</h3>

<ul>
    {% for key, value in values %}
    <li>
        <strong>{{ key }}</strong> - {{ value[0] }}
    </li>
    {% endfor %}
</ul>
<hr />
<p>Your name is {{ values.name[0] }}, and you are {{ values.age[0] }}.</p>
{% endif %}
<form action="/formtest" method="post">
    <input type="text" name="name" id="name" /><br />
    <input type="number" name="age" id="age" /><br />
    <input type="submit" value="Send" />
</form>
