{% if user %}
<h2>
    Hi, <strong>{{ user.email }}</strong
    >{% if user.admin %} 😎{% endif %} / <a href="/logout">Log Out</a>
</h2>
{% else %}
<h2>
    Hi
    <span hx-get="/egg" hx-target="#egg" hx-swap="innerHTML" hx-trigger="click once">👋</span>
    / <a href="/login">Log In</a> or <a href="/add-user">Register</a>
</h2>
{% endif %}
