<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>rocket-db-forms</title>
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
        />
    </head>
    <body>
        <h1>Log in</h1>
        {% if values %}
        <h3>Submission Data</h3>
        <ul>
            {% for key, value in values %}
            <li>
                <strong>{{ key }}</strong> - {{ value[0] }}
            </li>
            {% endfor %}
        </ul>
        <hr />
        {% endif %}
        <form action="/login" method="post">
            <input type="email" name="email" id="email" placeholder="email" /><br />
            <input type="password" name="password" id="password" placeholder="password" /><br />
            <input type="submit" value="Login" />
        </form>
    </body>
</html>
