{% extends "base" %} {% block content %}
<h1>User Loop</h1>
{% for entry in serialized_data %}
{{ loop.index }} - ID: {{ entry.id_pers }}, Name: {{ entry.name }}, Data: {{ entry.data }}
<br />
{% endfor %}

<h1>Project Loop</h1>
{% for entry in serialized_data2 %}
{{ loop.index }} - ID: {{ entry.id_proj }}, Name: {{ entry.name }}, Start: {{ entry.start }}, End:
{{ entry.end }}, id_pers: {{ entry.id_pers }}
<br />
{% endfor %}{% endblock %}
