<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404</title>
    </head>

    <body>
        <style>
            body {
                background-image: url('/hotdogs.jpg');
                background-repeat: repeat;
                margin: 0;
                height: 100vh;
                width: 100vw;
                overflow: hidden;
            }
        </style>
    </body>
</html>

